<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рэйтинги всего</title>
</head>
<body>
<h1 style="text-align: center;">Любимые блюда </h1>
<table bgcolor="lightgreen" align="center" border="2px"  width="600px">
  <tr>
    <th>Название блюда</th>
    <th>Оценка блюда 1-10</th>
    <th>Ссылка на рецепт</th>
    <th>Фото блюда</th>
  </tr>

   <tr>
    <td>Оливье</td>
    <td>7.5</td>
    <td><a href="https://eda.ru/recepty" target="_blank">рецепт</a></td>
    <td><img src="static/image/olivie.png" title="Винегрет"></td>
  </tr>

   <tr>
    <td>Лосось</td>
    <td>10</td>
    <td><a href="https://eda.ru/recepty" target="_blank">рецепт</a></td>
    <td><img src="static/image/losos.png" title="Винегрет"></td>
  </tr>

    <tr>
    <td>Шашлык</td>
    <td>7</td>
    <td><a href="https://eda.ru/recepty" target="_blank">рецепт</a></td>
    <td><img src="static/image/shashlyk.png" title="Винегрет"></td>
  </tr>

    <tr>
    <td>Винегрет</td>
    <td>5.5</td>
    <td><a href="https://eda.ru/recepty" target="_blank">рецепт</a></td>
    <td><img src="static/image/vinegret.png" title="Винегрет"></td>
  </tr>
</table>

</body>
</html>